/* https://coolors.co/palette/2b2d42-8d99ae-edf2f4-ef233c-d90429 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    color: #BFDBF7;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

main {
    background-color: #053C5E;
    border-radius: 8px;
    padding: 40px;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.select-container {
    display: flex;
    justify-content: space-evenly;


}

.winner-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    border: 2px solid #BFDBF7;
    border-radius: 12px;
    font-weight: 600;
    font-size: 4rem;

}

.rps-item {
    font-size: 2rem;
    font-weight: 600;
    border: 2px solid #BFDBF7;
    border-radius: 12px;
    padding: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s, border-color 0.2s;
}

.rps-item:hover {
    transform: scale(1.05);
    background-color: #1F7A8C;
    border-color: #1F7A8C;
}

.item-title {
    text-align: center;
    margin-bottom: 1rem;

}

img {
    width: 100px;
}

#player,
#computer {
    display: none;

}

#player {
    color: green
}

#computer {
    color: red;
}

#tie {
    color: #f0ad4e;
}

#matchup {
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.pop {
    animation: pop 0.3s ease-out;
}


@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}